{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock title %}
{% block content %}
<div class="container text-center mt-5">
    <h2>{% trans "Sign out" %}</h2>
    <p>
        {% trans 'Are you sure you want to log out?' %}
    </p>
    <form class="p-2" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="btn button-action mb-2" type="submit">{% trans "Sign out" %}</button>
    </form>
    <p>or </p>
    <a class="btn button-action mb-2" href="javascript:history.back()">{% trans "return to previous page" %}</a>
</div>

{% endblock %}