{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
<h2>Welcome back, {{request.user.username}}!</h2>
<a href="{% url 'favourite_list' %}">Faves</a>

<!-- Favourite recipes -->
<div class="container">
    <h2>Favourite recipes</h2>
    <div id="favouriteRecipesCarousel" class="carousel slide" data-ride="carousel">
        <div class="d-flex flex-nowrap overflow-auto">
            {% if user_favourite_recipes %}
                {% for recipe in user_favourite_recipes %}
                    <a href="{% url 'full_recipe' pk=recipe.pk %}" class="recipes" aria-label="Click to view {{recipe.title}}">
                        <div class="card m-3 recipe-card">
                            <!-- Favourite icon overlay -->
                            <div class="card-overlay">
                                <i class="fa fa-star icon-favourite card-overlay-icon"></i>
                            </div>
                            <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                            <div class="card-body">
                                <h2 class="card-title">{{recipe.title}}</h2>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>You haven't added any recipes to your favorites yet.</p>
            {% endif %}
        </div>
        <!-- carousel buttons -->
        <div class="text-center">
            <a href="#" class="fa-solid fa-backward fa-lg mx-3 control" onclick="scrollRecipes('left')">
                <span class="sr-only">Previous</span>
            </a>
            <a href="#" class="fa-solid fa-forward fa-lg mx-3 control" onclick="scrollRecipes('right')">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<hr class="my-5">

<!-- Carousel My recipes -->
<div class="container">
    <h2>My Recipes</h2>
    <div id="myRecipesCarousel" class="carousel slide" data-ride="carousel">
        <div class="d-flex flex-nowrap overflow-auto">
            {% for recipe in recipes %}
                {% if recipe.user == request.user %}
                    <a href="{% url 'full_recipe' pk=recipe.pk %}" class="recipes" aria-label="Click to view {{recipe.title}}">
                        <div class="card m-3 recipe-card">
                            <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                            <div class="card-overlay">
                                {% if recipe.is_favourite %}
                                    <i class="fa fa-star icon-favourite card-overlay-icon"></i>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">{{recipe.title}}</h2>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            <!-- carousel buttons -->
        </div>
        <div class="text-center">
            <a href="#" class="fa-solid fa-backward fa-lg mx-3 control" onclick="scrollRecipes('left')">
                <span class="sr-only">Previous</span>
            </a>
            <a href="#" class="fa-solid fa-forward fa-lg mx-3 control" onclick="scrollRecipes('right')">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<hr class="my-5">

<!-- Carousel slow cooker recipes -->
<div class="container">
    <h2>Slow cooker Recipes</h2>
    <div id="slowCookerCarousel" class="carousel slide" data-ride="carousel">
        <div class="d-flex flex-nowrap overflow-auto">
            {% for recipe in recipes %}
            {% if recipe.cooking_method == 'slow cooker' %}
            <a href="{% url 'full_recipe' pk=recipe.pk %}" class="recipes" aria-label="Click to view {{recipe.title}}">
                <div class="card m-3 recipe-card">
                    <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                    <div class="card-overlay">
                        {% if recipe.is_favourite %}
                            <i class="fa fa-star icon-favourite card-overlay-icon"></i>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{recipe.title}}</h2>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            <!-- carousel buttons -->
        </div>
        <div class="text-center">
            <a href="#" class="fa-solid fa-backward fa-lg mx-3 control" onclick="scrollRecipes('left')">
                <span class="sr-only">Previous</span>
            </a>
            <a href="#" class="fa-solid fa-forward fa-lg mx-3 control" onclick="scrollRecipes('right')">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


{% endblock %}

{% block onload_js %}

{% endblock %}