/* <style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
</style> 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;*/

:root {
    /* Fonts */
    --title: 'Josefin Sans', sans-serif;
    --main-font: 'Josefin Sans', sans-serif;
    /* Colours */
    --background: #3f006a0f;
    --grey: #545454;
    --off-white: #f5f4f3;
    --white: #fff;
    --yellow: #ffbd59;
    --dark: #253439;
    --coral: #ff5757;
    /* Utils */
    --small-box-shadow: 1px -1px 9px 0 #00000061;
    --border: 1px solid var(--grey);

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font);
    color: var(--dark);
    background-color: var(--off-white);
}

h1, h2, h3, h4, h5, h6, .special-text {
    font-family: var(--title);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--grey);
}

main {
    flex: 1;
    background-color: var(--white);
}

.uppercase {
    text-transform: uppercase;
}

/* buttons */

.button-action {
    background-color: var(--off-white);
    border-color: var(--coral);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--coral);
}
.button-action:hover {
    background-color: var(--coral);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--off-white);
}

/* Homepage */
.jumbotron-container {
    background-image: url("https://res.cloudinary.com/de9lbkrcb/image/upload/v1701525668/ella-olsson-KPDbRyFOTnE-unsplash_ocpm5z.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    height: 500px;
    background-size: cover;
    background-position: center-left;
    display: flex;
    justify-content: center;
    align-items: center;
    }


.button-hero {

	border-radius:6px;
	border:1px solid var(--yellow);
	display:inline-block;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
    color: var(--dark);
    background-color: var(--yellow);
}

.button-hero:hover {
	color:var(--yellow);
    background-color: var(--dark);
    border:1px solid var(--dark);
}


.button-hero h3 {
    color: var(--yellow);
}

#hero-text {
    color: var(--off-white);
    font-weight: 500;
}


/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--coral);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: var(--off-white);
}

/* Header */

.navbar {
    background-color: var(--coral);
    box-shadow: var(--small-box-shadow);
    padding: 1rem;
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    align-items: center;
}

a.navbar-brand {
    margin-right: 1rem; /* Adjust margin to create space between brand and links */
}

.navbar .navbar-toggler-icon {
    border-color: var(--white);
    border-width: 4px;
}

.navbar a.nav-link {
    margin-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: your-color; /* Set your desired link color */
    color: var(--white);
}

.nav-logo {
    height: 80px;
    width: auto;
}

.active {
    border-bottom: 2px solid var(--dark);
}

/* form */

.form {
    width: 100%;
    margin: 3% auto;
    /* background-color: var(--off-white); */
    border-radius: 10px;
}

/* password restriction text on sign up page */
#id_password1_helptext {
    text-align: left;
}

/* Recipes page */

.recipes {
    text-decoration: none;
}

.recipes:hover {
    cursor: pointer;
}
.recipe-card {
    width: 18rem;
    height: 90%;
    margin-top: 1rem;
}

.control {
    font-size: 1rem;
    color: var(--coral);
}

.control:hover {
    font-size: 1.5rem;
    color: var(--coral);
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

/* full recipe page */

.recipe-pic {
    max-height: 250px;
}

.description-container {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.description-container.expanded {
    -webkit-line-clamp: unset; /* Show all lines when expanded */
}

.read-more-button {
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--coral);
}

.card-recipe-info {
background-color: var(--off-white);
box-shadow: var(--small-box-shadow);

}

.post-it-note {
    background-color: var(--yellow);
    box-shadow: var(--small-box-shadow);
}

.freeze {
    color: #90D2FA;
    font-size: 1.5rem;
    width: auto;
    padding-top: 5px;
}

.icon-buttons {
    transform: scale(1.2); /* Adjust the larger scale as needed */
    transition: transform 0.3s ease;
}

.icon-favourite {
    color: var(--yellow);
}

.icon-delete {
    color: red;   
}

.icon-edit {
    color: var(--grey);   
}

.recipe-page-buttons {
    border: none;
    background: none;
    box-shadow: none;
}

.icon-text {
    margin: 0;
    font-size: 0.8rem;
}

.recipe-page-buttons:hover .icon-buttons {
    transform: scale(1.6);
}
