/* <style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
</style> 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;*/

:root {
    /* Fonts */
    --title: 'Josefin Sans', sans-serif;
    --main-font: 'Josefin Sans', sans-serif;
    /* Colours */
    --background: #3f006a0f;
    --grey: #545454;
    --off-white: #f5f4f3;
    --white: #fff;
    --yellow: #ffbd59;
    --dark: #253439;
    --coral: #ff5757;
    /* Utils */
    --small-box-shadow: 1px -1px 9px 0 #00000061;
    --border: 1px solid var(--grey);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--dark);
    background-color: var(--off-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--grey);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

.uppercase {
    text-transform: uppercase;
}
/* buttons */

.button-action {
    background-color: var(--off-white);
    border-color: var(--coral);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--coral);
}
.button-action:hover {
    background-color: var(--coral);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--off-white);
}



/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--coral);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: var(--off-white);
}

/* Header */

.navbar {
    background-color: var(--coral);
    box-shadow: var(--small-box-shadow);
    padding: 1rem;
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    align-items: center;
}

a.navbar-brand {
    margin-right: 1rem; /* Adjust margin to create space between brand and links */
}

.navbar .navbar-toggler-icon {
    border-color: var(--white);
    border-width: 4px;
}

.navbar a.nav-link {
    margin-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: your-color; /* Set your desired link color */
    color: var(--white);
}

.nav-logo {
    height: 80px;
    width: auto;
}

.active {
    border-bottom: 2px solid var(--dark);
}

/* form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

#id_password1_helptext {
    text-align: left;
}