<footer>
    <!-- Social media icons -->

    <a href="_blank" rel="noopener" aria-label="Linked In - opens in new tab" class="social-icon">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="_blank" rel="noopener" aria-label="twitter - opens in new tab" class="social-icon">
        <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="_blank" rel="noopener" aria-label="github - opens in new tab" class="social-icon">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="_blank" rel="noopener" aria-label="instagram - opens in new tab" class="social-icon">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="_blank" rel="noopener" aria-label="youtube - opens in new tab" class="social-icon">
        <i class="fa-brands fa-youtube"></i>
    </a>

</footer>