{% load static %}
<footer class="bg-body-tertiary text-center">
    <div class="container p-2">
        <!-- Social Media Icons -->
        <div>
            <a class="btn text-white btn-floating m-1" href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn text-white btn-floating m-1" href="https://twitter.com/" target="_blank">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a class="btn text-white btn-floating m-1" href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="text-center p-1">
        <p class="text-center uppercase special-text">&copy; Copyright 2023
            <a href="https://github.com/rachbry" class="special-text" target="_blank">Rachbry</a>
        </p>
    </div>
</footer>