{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <!-- logo -->
    <a class="navbar-brand mr-auto" href="{% url 'home:home' %}">
        <img src="{% static 'images/recipMe-cropped.png' %}" class="nav-logo" alt="recipeMe logo link to home">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 uppercase">
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link {% if request.resolver_match.url_name == 'my_recipes' %}active{% endif %}"
                    aria-current="page" href="{% url 'home:home' %}">My Recipes</a>
                {% else %}
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page"
                    href="{% url 'home:home' %}">Home</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'recipes' %}active{% endif %}"
                    href="{% url 'recipes' %}">Recipmes</a>
            </li>
            <!-- login or out -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'add_recipe' %}active{% endif %}"
                    href="{% url 'add_recipe' %}">Add<i class="fa-solid fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        <!-- Search bar -->
        <form class="form-inline my-2 my-lg-0 d-flex flex-sm-row flex-column" role="search" method="GET"
            action="{% url 'search_results' %}">
            <div class="input-group">
                <input class="form-control form-control-sm mr-sm-2" name="q" type="search" placeholder="Search"
                    aria-label="Search">
                <div class="input-group-append">
                    <button class="btn button-action ms-2 ms-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</nav>