{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <!-- logo -->
    <a class="navbar-brand mr-auto" href="#">
        <img src="{% static 'images/recipMe-cropped.png' %}" class="nav-logo" alt="recipeMe logo link to home">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 uppercase">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                    href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'recipes' %}active{% endif %}" href="#">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_recipe' %}active{% endif %}" href="{% url 'add_recipe' %}">Add Recipe</a>
            </li>
            <!-- login or out -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>